<!doctype html>
<html>
    <head>
        <script>
            function sayHi(){
                let name = document.getElementById("name").value;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let jsonResponse = JSON.parse(this.response)
                        console.log(jsonResponse)
                        document.getElementById("salut").innerHTML = jsonResponse.hi;
                    }
                };
                xhttp.open("GET", "sayHi/api/" + name, true);
                xhttp.send();
            }
        </script>
    </head>
    <body>
        <input type="text" id="name">
        <input type="button" value="Say hi!" onclick="sayHi()">
        <div id="salut"></div>
    </body>
</html>